!!!
%html
	%head
		%title Esensei
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		%header
			= render 'layouts/navbar'
			
		- flash.each do |name, msg|
			.alert{ :class => "alert-#{name}" }	
				%button.close{ :data => { :dismiss => "alert" } } x
				%strong	
					= msg		
	
		.container-fluid
			.panel.panel-default
				= yield

